// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyD7UbYIqsmTlFimC8lXOZqwtXEdZMzr_kg",
  authDomain: "national-parks-7f32e.firebaseapp.com",
  projectId: "national-parks-7f32e",
  storageBucket: "national-parks-7f32e.firebasestorage.app",
  messagingSenderId: "931130710404",
  appId: "1:931130710404:web:f29f80b8b064859d8825d1",
  measurementId: "G-E5TN0P5T20"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);

export { auth, db, provider, signInWithPopup, onAuthStateChanged, signOut, doc, setDoc, deleteDoc, collection, getDocs };
